<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Home</h1>
		<% if (user) { %>
		<h1>Hello, <%= user.username %></h1>
		<% } else { %>
		<h1>Hello, please log in to view character details</h1>
		<% } %>
		<a href="/characters">All characters</a>
		<a href="/register">Register</a>
		<a href="/login">Login</a>
		<form class="logout" action="/logout?_method=DELETE" method="POST">
			<input class="" type="submit" value="Logout" />
		</form>
	</body>
</html>
