body {
	position: absolute;
	background-color: lightcyan;
	justify-content: center;
	display: flexbox;
}

.character-sheet {
	background-color: whitesmoke;
	padding: 20px;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
