body {
	background: #19aa8d !important;
	font-family: "Roboto", sans-serif !important;
}

.body {
	margin: 10px;
	font-family: "Roboto", sans-serif;
	padding-bottom: 60px !important;
}

.card {
	padding: 5px;
	margin: 10px;
	float: left;
	background-color: rgb(229, 229, 229) !important;
	position: absolute;
	overflow: hidden;
	margin-bottom: 60px;
}

.list-group-item {
	background-color: rgb(229, 229, 229) !important;
}

footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #fff;
}

.character-sheet {
	max-height: 950px;
}
