body {
	background: #19aa8d !important;
	font-family: "Roboto", sans-serif !important;
}

.body {
	margin: 10px;
	font-family: "Roboto", sans-serif;
}

.card {
	border: solid 2px red;
	padding: 5px;
	margin: 10px;
	float: left;
	background-color: rgb(229, 229, 229) !important;
}

.list-group-item {
	background-color: rgb(229, 229, 229) !important;
}

footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #fff;
}
