<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Character</title>
	</head>
	<body>
		<main class="new-character">
			<form action="/characters" class="new-character-form" method="POST">
				<input type="text" name="name" placeholder="Name" />
				<input type="text" name="class" placeholder="Class" />
				<input type="text" name="race" placeholder="Race" />
				<input type="text" name="level" placeholder="Level" />
				<input type="text" name="alignment" placeholder="Alignment" />
				<input
					type="text"
					name="armorClass"
					placeholder="Armor Class"
				/>
				<input type="text" name="health" placeholder="Total Health" />
				<input type="text" name="hitDie" placeholder="Hit Die" />
				<input
					type="text"
					name="proficiencyBonus"
					placeholder="Proficiency Bonus"
				/>
				<input type="text" name="speed" placeholder="Speed" />
				<input type="text" name="initiative" placeholder="Initiative" />
				<input type="text" name="strength" placeholder="Strength" />
				<input type="text" name="dexterity" placeholder="Dexterity" />
				<input
					type="text"
					name="constitution"
					placeholder="Constitution"
				/>
				<input
					type="text"
					name="intelligence"
					placeholder="Intelligence"
				/>
				<input type="text" name="wisdom" placeholder="Wisdom" />
				<input type="text" name="charisma" placeholder="Charisma" />
				<input type="text" name="copper" placeholder="Copper" />
				<input type="text" name="silver" placeholder="Silver" />
				<input type="text" name="electrum" placeholder="Electrum" />
				<input type="text" name="gold" placeholder="Gold" />
				<input type="text" name="platinum" placeholder="Platinum" />
				<input type="text" name="languages" placeholder="Languages" />
				<input
					type="text"
					name="proficiencies"
					placeholder="Proficiencies"
				/>
				<input type="text" name="abilities" placeholder="Abilities" />
				<input type="text" name="traits" placeholder="Traits" />
				<input id="add-character" type="submit" value="Add Character" />
			</form>
		</main>
	</body>
</html>
